@import "tailwindcss";

/* Aurora Background */

body{
    background:#09090b;
    overflow-x:hidden;
}

body::before{
    content:"";
    position:fixed;
    inset:0;

    background:
    radial-gradient(circle at 20% 20%, rgba(245,158,11,.18), transparent 40%),
    radial-gradient(circle at 80% 10%, rgba(255,255,255,.05), transparent 35%),
    radial-gradient(circle at 50% 80%, rgba(251,191,36,.15), transparent 40%);

    filter:blur(70px);

    animation:aurora 18s ease infinite alternate;

    z-index:-1;
}

@keyframes aurora{

0%{
transform:translateY(-30px) translateX(0px);
}

50%{
transform:translateY(20px) translateX(-40px);
}

100%{
transform:translateY(-10px) translateX(40px);
}

}

/* Floating Photo */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}